<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.blog.dao.CommentMapper">
	<resultMap id="BaseResultMap" type="com.yc.blog.bean.Comment">
		<id column="comid" jdbcType="INTEGER" property="comid" />
		<result column="artid" jdbcType="INTEGER" property="artid" />
		<result column="recomid" jdbcType="INTEGER" property="recomid" />
		<result column="comtime" jdbcType="TIMESTAMP"
			property="comtime" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="comcontent" jdbcType="VARCHAR"
			property="comcontent" />
		<result column="comstatus" jdbcType="INTEGER"
			property="comstatus" />
		<result column="comtemp" jdbcType="VARCHAR" property="comtemp" />
		<collection property="user" column="uid" select="getUser"></collection>
		<collection property="reUser" column="recomid"
			select="getReUser"></collection>
	</resultMap>
	
	<resultMap id="LatestResultMap"
		type="com.yc.blog.bean.CommentLatest">
		<id column="comid" jdbcType="INTEGER" property="comid" />
		<result column="artid" jdbcType="INTEGER" property="artid" />
		<result column="recomid" jdbcType="INTEGER" property="recomid" />
		<result column="comtime" jdbcType="TIMESTAMP" property="comtime" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="comcontent" jdbcType="VARCHAR" property="comcontent" />
		<result column="comstatus" jdbcType="INTEGER" property="comstatus" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="unamme" jdbcType="VARCHAR" property="unamme" />
		<result column="comtemp" jdbcType="VARCHAR" property="comtemp" />
	</resultMap>
	<select id="getCommentLatest" parameterType="com.yc.blog.bean.CommentLatest" resultMap="LatestResultMap">
		SELECT comid,comment.artid,recomid,comtime,comment.uid,comcontent,comstatus,comtemp,title,unamme 
		FROM user,article,comment 
		WHERE comment.artid = article.artid and comment.uid = user.uid 
		AND comment.artid = ANY(SELECT artid FROM comment where comstatus = 1 ORDER BY comtime DESC)
	</select>
	
	<resultMap id="DetailResultMap"
		type="com.yc.blog.bean.CommentShow">
		<id column="comid" jdbcType="INTEGER" property="comid" />
		<result column="artid" jdbcType="INTEGER" property="artid" />
		<result column="recomid" jdbcType="INTEGER" property="recomid" />
		<result column="comtime" jdbcType="TIMESTAMP" property="comtime" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="comcontent" jdbcType="VARCHAR" property="comcontent" />
		<result column="comstatus" jdbcType="INTEGER" property="comstatus" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="comtemp" jdbcType="VARCHAR" property="comtemp" />
	</resultMap>

	<select id="getCommentDetail" parameterType="com.yc.blog.bean.CommentShow" resultMap="DetailResultMap">
		SELECT comid,comment.artid,recomid,comtime,comment.uid,comcontent,comstatus,comtemp,title,nickname 
		FROM user,article,comment 
		WHERE comment.artid = article.artid and comment.uid = user.uid 
		<if test="uid != null">
			and comment.uid = #{uid,jdbcType=INTEGER}
		</if> 
		<if test="artid != null">
			and  comment.artid= #{artid,jdbcType=INTEGER}
		</if> 
	</select>
	<select id="getUser" resultType="com.yc.blog.bean.User">
		SELECT * FROM user WHERE uid =
		#{uid}
	</select>


	<select id="getReUser" resultType="com.yc.blog.bean.User">
		SELECT * FROM user where uid =
		(SELECT uid FROM comment WHERE comid =
		#{recomid})
	</select>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		comid, artid, recomid, comtime, uid, comcontent, comstatus,
		comtemp
	</sql>
	<select id="selectByExample"
		parameterType="com.yc.blog.bean.CommentExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from comment
		where comid = #{comid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from comment
		where comid =
		#{comid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.yc.blog.bean.CommentExample">
		delete from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.yc.blog.bean.Comment">
		insert into comment (comid,
		artid, recomid,
		comtime, uid, comcontent,
		comstatus, comtemp)
		values
		(#{comid,jdbcType=INTEGER}, #{artid,jdbcType=INTEGER},
		#{recomid,jdbcType=INTEGER},
		#{comtime,jdbcType=TIMESTAMP},
		#{uid,jdbcType=INTEGER}, #{comcontent,jdbcType=VARCHAR},
		#{comstatus,jdbcType=INTEGER}, #{comtemp,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.yc.blog.bean.Comment">
		insert into comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="comid != null">
				comid,
			</if>
			<if test="artid != null">
				artid,
			</if>
			<if test="recomid != null">
				recomid,
			</if>
			<if test="comtime != null">
				comtime,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="comcontent != null">
				comcontent,
			</if>
			<if test="comstatus != null">
				comstatus,
			</if>
			<if test="comtemp != null">
				comtemp,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="comid != null">
				#{comid,jdbcType=INTEGER},
			</if>
			<if test="artid != null">
				#{artid,jdbcType=INTEGER},
			</if>
			<if test="recomid != null">
				#{recomid,jdbcType=INTEGER},
			</if>
			<if test="comtime != null">
				#{comtime,jdbcType=TIMESTAMP},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="comcontent != null">
				#{comcontent,jdbcType=VARCHAR},
			</if>
			<if test="comstatus != null">
				#{comstatus,jdbcType=INTEGER},
			</if>
			<if test="comtemp != null">
				#{comtemp,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.yc.blog.bean.CommentExample"
		resultType="java.lang.Long">
		select count(*) from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update comment
		<set>
			<if test="record.comid != null">
				comid = #{record.comid,jdbcType=INTEGER},
			</if>
			<if test="record.artid != null">
				artid = #{record.artid,jdbcType=INTEGER},
			</if>
			<if test="record.recomid != null">
				recomid = #{record.recomid,jdbcType=INTEGER},
			</if>
			<if test="record.comtime != null">
				comtime = #{record.comtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=INTEGER},
			</if>
			<if test="record.comcontent != null">
				comcontent = #{record.comcontent,jdbcType=VARCHAR},
			</if>
			<if test="record.comstatus != null">
				comstatus = #{record.comstatus,jdbcType=INTEGER},
			</if>
			<if test="record.comtemp != null">
				comtemp = #{record.comtemp,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update comment
		set comid = #{record.comid,jdbcType=INTEGER},
		artid =
		#{record.artid,jdbcType=INTEGER},
		recomid =
		#{record.recomid,jdbcType=INTEGER},
		comtime =
		#{record.comtime,jdbcType=TIMESTAMP},
		uid =
		#{record.uid,jdbcType=INTEGER},
		comcontent =
		#{record.comcontent,jdbcType=VARCHAR},
		comstatus =
		#{record.comstatus,jdbcType=INTEGER},
		comtemp =
		#{record.comtemp,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.yc.blog.bean.Comment">
		update comment
		<set>
			<if test="artid != null">
				artid = #{artid,jdbcType=INTEGER},
			</if>
			<if test="recomid != null">
				recomid = #{recomid,jdbcType=INTEGER},
			</if>
			<if test="comtime != null">
				comtime = #{comtime,jdbcType=TIMESTAMP},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="comcontent != null">
				comcontent = #{comcontent,jdbcType=VARCHAR},
			</if>
			<if test="comstatus != null">
				comstatus = #{comstatus,jdbcType=INTEGER},
			</if>
			<if test="comtemp != null">
				comtemp = #{comtemp,jdbcType=VARCHAR},
			</if>
		</set>
		where comid = #{comid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.yc.blog.bean.Comment">
		update comment
		set artid = #{artid,jdbcType=INTEGER},
		recomid = #{recomid,jdbcType=INTEGER},
		comtime =
		#{comtime,jdbcType=TIMESTAMP},
		uid = #{uid,jdbcType=INTEGER},
		comcontent = #{comcontent,jdbcType=VARCHAR},
		comstatus =
		#{comstatus,jdbcType=INTEGER},
		comtemp = #{comtemp,jdbcType=VARCHAR}
		where comid = #{comid,jdbcType=INTEGER}
	</update>
</mapper>