<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
<link rel="stylesheet" href="css/style.css" />
<link href="assets/css/codemirror.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/ace.min.css" />
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<script src="assets/js/jquery.min.js"></script>
<script type="text/javascript">
	window.jQuery
			|| document.write("<script src='assets/js/jquery-2.0.3.min.js'>"
					+ "<"+"/script>");
</script>
<script type="text/javascript">
	if ("ontouchend" in document)
		document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"
				+ "<"+"/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/typeahead-bs2.min.js"></script>
<!-- page specific plugin scripts -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script src="assets/layer/layer.js" type="text/javascript"></script>
<script src="assets/laydate/laydate.js" type="text/javascript"></script>
<title>友情链接</title>
</head>
<body>
	<div class="panel admin-panel">
		<div class="panel-head">
			&nbsp;&nbsp;&nbsp;&nbsp;<strong class="icon-reorder">&nbsp;
				友情链接</strong>
		</div>
		<div class="padding border-bottom">
	      <ul class="search">
	        <li>
	          <button type="button"  class="button border-green" id="addLink" th:onclick="addLinks();"><span class="icon-check"></span> 添加链接</button>
	        </li>
	      </ul>
	    </div>
		<div class="page-content clearfix">
			<div id="Member_Ratings">
				<div class="d_Confirm_Order_style">
					<div class="table_menu_list">
						<table class="table table-striped table-bordered table-hover"
							id="sample-table">
							<thead>
								<tr>
									<th width="5%"><label><input type="checkbox"
											class="ace"><span class="lbl"></span></label></th>
									<th>ID</th>
									<th>名称</th>
									<th>链接地址</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="links : ${linklist}">
									<td><label><input type="checkbox" class="ace"><span
											class="lbl"></span></label></td>
									<td th:text="${links.fid}"></td>
									<td th:text="${links.fname}" class="td-fname"></td>
									<td th:text="${links.furl }" class="td-furl"></td>
									<td class="td-status"><span style="color:white;"
										th:class="${links.fstatus} == 1 ? 'label label-success radius':'label label-defaunt radius' "
										th:text="${links.fstatus} == 1 ? '已启用':'已停用'"></span></td>
									<td class="td-manage">
									<a 
										th:onClick="stop(this,[[${links.fid}]],[[${links.fstatus}]])"
										th:title="${links.fstatus} == 1 ? '停用' : '启用'"
										th:class="${links.fstatus} == 1 ? 'btn btn-xs btn-success' : 'btn btn-xs'"><i
											class="icon-ok bigger-120"></i></a> <a title="编辑"
										th:onclick="edit(this,[[${links.fid}]],[[${links.fname}]],[[${links.furl}]],[[${links.fstatus}]])" href="javascript:;"
										class="btn btn-xs btn-info"><i
											class="icon-edit bigger-120"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--添加用户图层-->
<div class="add_menber" id="add_menber_style" style="display:none">
  
    <ul class=" page-content">
     <li><label class="label_name">链&nbsp;&nbsp;接 &nbsp;名：</label><span class="add_name"><input value="" id="fname" name="fname" type="text"  class="text_add" oninput="checkFname();"/></span ><span class="add_name" id="fnameTishi"></span><div class="prompt r_f"></div></li>
     <li>
     <div class="prompt r_f"></div>
      <li><label class="label_name">链接地址：</label><span class="add_name"><input id="furl"name="furl" type="text"  class="text_add" oninput="checkFurl();"/></span><span class="add_name" id="furlTishi"></span><div class="prompt r_f"></div></li>
    </ul>
 </div>
	<script>
	$(document).ready( function () {
	    $('#sample-table').DataTable();
	});
		/*链接-停用*/
		function stop(obj, id,status) {
			if(status == 1 ){
				layer.confirm('确认要停用吗？',function(index) {
					var param ="fstate="+2+"&fid="+id;
					$.ajax({
				        type: "post",
				        url: "changeFstatus",
				        data: param,
				        async:true, // 异步请求
				        cache:true, // 设置为 false 将不缓存此页面
				        dataType: 'json', // 返回对象
				        success: function(result) {
								if(result.code == 1){
									layer.msg('已停用!',{icon: 1,time:1000});
									$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="stop(this,'+id+',2)" href="javascript:;" title="启用"><i class="icon-ok bigger-120"></i></a>');
									$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
									$(obj).remove();
					        		return;
					        	}else{
					        		layer.msg(result.msg, {
										icon : 5,
										time : 1000,
										title: "提示"
									});
					        		return;
					        	}
							}
						});
				});
			}
			/*链接-启用*/
			if(status == 2){
				layer.confirm('确认要启用吗？',function(index) {
					var param ="fstate="+1+"&fid="+id;
					$.ajax({
				        type: "post",
				        url: "changeFstatus",
				        data: param,
				        async:true, // 异步请求
				        cache:true, // 设置为 false 将不缓存此页面
				        dataType: 'json', // 返回对象
				        success: function(result) {
				        	if(result.code == 1){
				        		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="stop(this,'+id+',1)" href="javascript:;" title="停用"><i class="icon-ok bigger-120"></i></a>');
								$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
								$(obj).remove();
								layer.msg('已启用!', {
									icon : 6,
									time : 1000
								});
								return;
				        	}else{
				        		layer.msg(result.msg, {
									icon : 5,
									time : 1000,
									title: "提示"
								});
				        		return;
				        	}
				        }
					});
				});
			}
		}
		/*链接名-验证*/
		function checkFname(){
			var fname = $("#fname").val().replace(/\ +/g,"");
			var param ="fname="+fname;
			$.ajax({
		        type: "post",
		        url: "checkFname",
		        data: param,
		        async:true, // 异步请求
		        cache:true, // 设置为 false 将不缓存此页面
		        dataType: 'json', // 返回对象
		        success: function(result) {
			        	if(result.code != 1){
			        		$("#fnameTishi").text(result.msg).css("color", 'red');
			        		return;
			        	}else{
			        		$("#fnameTishi").text("");
			        		return;
			        	}
					}
				});
		}
		/*链接地址-验证*/
		function checkFurl(){
			var furl = $("#furl").val().replace(/\ +/g,"");
			var param ="furl="+furl;
			$.ajax({
		        type: "post",
		        url: "checkFurl",
		        data: param,
		        async:true, // 异步请求
		        cache:true, // 设置为 false 将不缓存此页面
		        dataType: 'json', // 返回对象
		        success: function(result) {
			        	if(result.code != 1){
			        		$("#furlTishi").text(result.msg).css("color", 'red');
			        		return;
			        	}else{
			        		$("#furlTishi").text("");
			        		return;
			        	}
					}
				});
		}
		/*链接-编辑*/
		function edit(obj,id,fnameOld,furlOld) {
			$("#furl").attr("value",furlOld);
			$("#fname").attr("value",fnameOld);
			layer.open({
				type : 1,
				title : '修改友情链接',
				maxmin : true,
				shadeClose : false, //点击遮罩关闭层
				area : [ '600px', '' ],
				content : $('#add_menber_style'),
				btn : [ '提交', '取消' ],
				yes : function(index, layero) {
					var furl = $("#furl").val().replace(/\ +/g,"");
					var fname = $("#fname").val().replace(/\ +/g,"");
					var param ="fname="+fname+"&furl="+furl+"&fid="+id;
					$.ajax({
					        type: "post",
					        url: "updateLink",
					        data: param,
					        async:true, // 异步请求
					        cache:true, // 设置为 false 将不缓存此页面
					        dataType: 'json', // 返回对象
					        success: function(result) {
						        	if(result.code == 1){
						        		$(obj).parents("tr").find(".td-fname").html(fname);
						        		$(obj).parents("tr").find(".td-furl").html(furl);
						        		layer.msg(result.msg, {
											icon :6,
											time : 1000,
											title: "提示"
										});
						        		layer.close(index);	
						        		return;
						        	}else{
						        		layer.msg(result.msg, {
											icon : 5,
											time : 1000,
											title: "提示"
											});
						        		return false;
						        	}
								}
							});
				}
			});
		}
		/*链接-添加*/
		function addLinks(){
			layer.open({
				type : 1,
				title : '添加友情链接',
				maxmin : true,
				shadeClose : false, //点击遮罩关闭层
				area : [ '600px', '' ],
				content : $('#add_menber_style'),
				btn : [ '提交', '取消' ],
				yes : function(index, layero) {
					var furl = $("#furl").val().replace(/\ +/g,"");
					var fname = $("#fname").val().replace(/\ +/g,"");
					var param ="fname="+fname+"&furl="+furl;
					$.ajax({
					        type: "post",
					        url: "addLinks",
					        data: param,
					        async:true, // 异步请求
					        cache:true, // 设置为 false 将不缓存此页面
					        dataType: 'json', // 返回对象
					        success: function(result) {
						        	if(result.code == 1){
						        		layer.msg(result.msg, {
											icon :6,
											time : 1000,
											title: "提示"
										});
						        		$("#sample-table tbody").prepend('<tr><td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>'+
						        				'<td >'+result.data.fid+'</td>'+
						        				'<td  class="td-fname">'+result.data.fname+'</td>'+
						        				'<td  class="td-furl">'+result.data.furl+'</td>'+
						        				'<td class="td-status"><span style="color:white;" class="label label-success radius">已启用</span></td>'+
						        				'<td class="td-manage"><a  onClick="stop(this,'+result.data.fid+','+result.data.fstatus+')" title="停用" class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></a> '+
						        				'<a title="编辑" onclick="edit(this,'+result.data.fid+','+result.data.fname+','+result.data.furl+','+result.data.fstatus+')" '+
						        				'class="btn btn-xs btn-info"><i class="icon-edit bigger-120"></i></a></td> </tr>');
						        		layer.close(index);	
						        		return;
						        	}else{
						        		layer.msg(result.msg, {
											icon : 5,
											time : 1000,
											title: "提示"
											});
						        		return false;
						        	}
								}
							});
				}
			});
		}
		laydate({
			elem : '#start',
			event : 'focus'
		});
	</script>
</body>
</html>