<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-table.css" />
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="js/bootbox.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
 <section class="content-header">
		<h1>查看博文</h1>
		 	<form id="searchForm">
    		   	 
      				<label class="label_name"><i>
      				</i>标题</label>
      				<input name="title1"  id="title1">

					<input id="searchBtn" type="submit" class="btn btn-default"
						value="搜索">
					<input id="btn_delete" type="button" class="btn btn-default"
						onclick="reset()" value="重置">	
				
        		 
    	 	</form>

		</section>
		<section class="content table-content">
			<form class="form-inline" >
			<!-- 工具栏 -->
			<div id="toolbar">
					<input id="btn_delete" type="button" class="btn btn-default"
						onclick="deleteBtn()" value="删除">
						
			</div>
			<!-- bootstrapTable -->
			</form>
			<table id="dataGrid">
			</table>
		</section>
		 
 <!-- 修改 -->
			<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修改</h4>
						</div>
						<div class="modal-body">
							<div class="form-body">
								<form id="updateForm">
									<div class="form-group">
											<input id="artid" name="artid" type="hidden"> 
									</div>
										<div class="form-group">
											<label for="exampleInputEmail1">标题</label> <input
											type="text" class="form-control" name="title" id="title">
										</div>
									<div class="form-group">
										<label for="exampleInputEmail1">作者</label> <input
											type="text" class="form-control" name="author" id="author">
									</div>
						
									<div class="form-group">
										<label for="exampleInputPassword1">分类</label> 
										<select class="form-control" name="cateid" id="careid">
											<option th:each="cl : ${backList}"  th:value="${cl.cateid}" th:text="${cl.catename}"></option>
										</select>
									</div>
								
									
									<!-- <div class="form-group">
									<label for="exampleInputEmail1">图片</label>
										<td><input name="imgs" type="file" id="imgs"></td>
									</div> -->
								</form>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary"
								onclick="updatearticle()">提交</button>
						</div>
					</div>
				</div>
			</div>
 
 
<script type="text/javascript">
$(function() {
	//初始加载
	initDataGrid();
});
function initDataGrid() {
	//创建bootstrapTable
	$("#dataGrid").bootstrapTable({
		method : "POST",
		contentType : "application/x-www-form-urlencoded",
		dataType : "json",
		url : "showPageInfo",    
		queryParams : function queryParams(params) {
			params.pageNumber = this.pageNumber;
			return params;
		},
		pagination : true, //分页
		sidePagination : "server", //服务端处理分页
		striped:true,//隔行变色
		showRefresh : true,
		pageNumber : 1, //首页页码
		pageSize : 6, //分页，页面数据条
		pageList : [ 6,15,20,30,40 ],
		//uniqueId:"id",//每一行的唯一标识
		sidePagination:"server",//在服务器分页
		//height:tableModel.getHeight(),
		responseHandler : function(result) {
			return {
				"total" : result.total,//总页数
				"rows" : result.list
				}
		},
		toolbar : '#toolbar',//工具栏
		columns : [{
					checkbox:"true",
					field : "box"
				}, {
					field : 'artid',
					title : 'ID'
				},{
					field : 'author',
					title : '作者'
				},{
					field : 'title',
					title : '标题'
				},{
					field : 'cateid',
					title : '分类',
				},{
	                field : 'imgs',
	                title: '图片'
				} ,{
					filed : 'id',
					title : '操作',
					formatter : function(value, row,
							index) {
						//通过formatter可以自定义列显示的内容
						//value：当前field的值，即id
						//row：当前行的数据
						var article = JSON.stringify(row);
						var result = "";
						result += "<a class='button border-blue' href='javascript:void(0)' onclick='update("+
									article+")'><span class='icon-trash-o'></span> 修改</a>"; 
						 
						return result;
 					      
					}
				}  ],
		
        searchOnEnterKey : true,
		showRefresh : true,//刷新
        showToggle : false//

	});
   
	 //得到查询的参数
    oTableInit.queryParams2 = function (params) {
          var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
              //limit: params.limit,   //页面大小
              //offset: params.offset,  //页码
              title : "r",
              
          };
          return temp;
      };
      return oTableInit;  
}

/**
 * 修改
 */
 //回显数据
	function update(article) {
		$("#artid").val(article.artid);
		$("#title").val(article.title);
		$("#author").val(article.author);
		$("#cateid").val(article.cateid.catename);
		var oldcateId = article.cateid.supercateid;
		$("#cateid option").each(function() {
			if ($(this).attr("value") == oldcateId) {
				$(this).attr("selected", "selected");
			} else {
				$(this).removeAttr("selected");
			}
		})
		
		$("#updateModal").modal('show');

	}
	//按id修改某一菜品
	function updatearticle() {
		$.post("updateArticle", $('#updateForm').serialize(), function(
				result) {
			if (result.code == 1) {
				alert("修改成功！")
				$("#updateModal").modal('hide');
				bootbox.alert(result.msg);
				$("#dataGrid").bootstrapTable('refresh');
			} else {
				bootbox.alert(result.msg);
			}
		})

	}

/**
 * 删除(单条)
*/
/* function delById(article) {
	var deId = article.artid;
	bootbox.confirm({
		
		message : "确认删除该文章？",
		buttons : {
			confirm : {
				label : "是",
				className : "btn-success"
			},
			cancel : {
				label : "否",
				className : "btn-danger"
			}
		},
		callback : function(result) {
			if (result) {
				$.post("delOne", {
					id : deId
				}, function(result) {
					if (result.code == 1000) {
						bootbox.alert({
							size : "small",
							title : "提示",
							message : result.msg
						})
					} else {
						bootbox.alert({
							size : "small",
							title : "提示",
							message : result.msg
						});
						$("#dataGrid").bootstrapTable('refresh');
					}
				})
			}
		}
	})
}  */
 
//删除
function deleteBtn() {
	var getRows = $("#dataGrid").bootstrapTable('getSelections');
	if (getRows.length == 1000) {
		bootbox.alert("请选择要删除的行。");
	} else {
		var artIds = new Array();
		$(getRows).each(function() {
			artIds.push(this.artid);
		});
		deleteMany(artIds);
	}
}
//删除多条
function deleteMany(artIds) {
	bootbox.confirm({
		
		message : "您确定删除选择的文章？",
		buttons : {
			confirm : {
				label : "是",
				className : "btn-success"
			},
			cancel : {
				label : "否",
				className : "btn-danger"
			}
		},
		callback : function(result) {
			if (result) {
				$.ajax({
					url : "delMany",
					method : "post",
					async:true,
					traditional : true,
					data : {
						ids:artIds,
					},
					success : function(result) {
						if(result.code==1){
							bootbox.alert(result.msg);
							$("#dataGrid").bootstrapTable('refresh');
						}else{
							bootbox.alert(result.msg);
						}
					}
						
				})
			}
		}
	})
}
/**
 * 查询
 */
$("#searchBtn").click(function(){
	var title = $("#title1").val();
	$.ajax({
		type:"post",
		url:"selectByName",
		data: {title:title},
		dataType: "json",
		/* success:function(json){
			$("#dataGrid").bootstrapTable("load",json);
		} */
	});
});

</script>

</body>
</html>