<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>关于_袁志蒙个人博客 - YzmCMS博客</title>
	<meta name="keywords" content="关于yzmcms,关于yzmcms博客,袁志蒙,个人博客" />
	<meta name="description" content="" />
    <link rel='stylesheet' id='open_social_css-css' href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/style.css?v=2020" media="all">
    <link href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
		$(".container").css({
		  "margin-top": "93px"
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>	
<div th:replace="base/base::.header"></div> 

<section class="container">
		<div class="page_left">
		<ul>
									<li>
				<a href="init.html"  >留言联系</a>
			</li>	
						<li>
				<a href="aboutauthor"  >关于作者</a>
			</li>	
						<li>
				<a href="https://bbs.yzmcms.com"   target="_blank" >官方论坛</a>
			</li>	
			       </ul>
		</div>
		<div class="page_right">
		   <h1 class="page_title">关于</h1>   
		   <div class="page_content">
			  <p style="text-align: center;"><img src="/uploads/ueditor/image/20200111/1578753482172543.jpg" title="关于yzmcms" alt="关于yzmcms"/></p><p><br/></p><p><a href="https://www.yzmcms.com/" target="_blank">YzmCMS</a>是一款轻量级开源内容管理系统，它采用自主研发的框架YZMPHP开发。程序基于PHP+Mysql架构，并采用MVC框架式开发的一款高效开源的内容管理系统，可运行在Linux、Windows、MacOSX、Solaris等各种平台上。</p><p><br/></p><p>它可以让您不需要任何专业技术轻松搭建您需要的网站，操作简单，很容易上手，快捷方便的后台操作让您10分钟就会建立自己的爱站。在同类产品的比较中，YzmCMS更是凸显出了体积轻巧、功能强大、源码简洁、系统安全等特点，无论你是做企业网站、新闻网站、个人博客、门户网站、行业网站、电子商城等，它都能完全胜任，而且还提供了非常方便的二次开发体系，是一款全能型的建站系统！</p><p><br/></p><p>我之所以开发这个CMS，是因为我对IT互联网技术的兴趣，程序开发纯属于个人爱好兴趣，不然也不可能坚持这么多年，由于个人时间和精力有限，程序中可能会存在一些问题，请大家及时反馈。</p><p><br/></p><p><strong>YzmCMS官方QQ群号码：161208398</strong></p>		   </div>
		</div>
	</section>
    <div th:replace="base/base::.footer"></div>	
	
	<div th:replace="base/base::#button"></div>	
	
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:rgba(0,0,0,0.3);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="https://blog.yzmcms.com/common/static/images/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>	
  </body>
</html>