<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>关于作者_袁志蒙个人博客 - YzmCMS博客</title>
	<meta name="keywords" content="yzmcms,袁志蒙" />
	<meta name="description" content="" />
    <link rel='stylesheet' id='open_social_css-css' href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/style.css?v=2020" media="all">
    <link href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
		$(".container").css({
		  "margin-top": "93px"
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>	

<div th:replace="base/base::.header"></div>		 

<section class="container">
		<div class="page_left">
		<ul>
									<li>
				<a href="init.html"  >留言联系</a>
			</li>	
						<li>
				<a href="aboutauthor.html"  class="cur" >关于作者</a>
			</li>	
						<li>
				<a href="https://bbs.yzmcms.com"   target="_blank" >官方论坛</a>
			</li>	
			       </ul>
		</div>
		<div class="page_right">
		   <h1 class="page_title">关于作者</h1>   
		   <div class="page_content">
			  <p>About The Author</p><p style="text-align: center;"><img src="/uploads/20170116/14844963374269.jpg" alt="YzmCMS轻量级开源CMS"/></p><p><br/></p><p>我叫袁志蒙，是YzmCMS和YZMPHP框架的作者，也是一名PHP开发工程师，我喜欢编程、算法、也对新技术有深厚的兴趣，程序开发属于个人爱好兴趣，不然也不可能坚持这么多年，个人有代码强迫症，喜欢简洁的代码风格，也喜欢轻量级的系统，只要有时间，什么东西都想自己写，自己做。</p><p><br/></p><p>我没有什么爱好，我只喜欢在我这个狭小的窝里上网、敲代码、学习、或者看看电影，然后写写博客，我没有什么伟大的梦想，只想有一个属于自己的房子，一份稳定的工作，平平淡淡的过一生就好！</p><p><br/></p><p>人的一生是在学习中度过，在追求中获得生存。学习的过程，就是探索，研究的过程，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识的过程。</p><p><br/></p><p>联系方式（QQ/微信）：214243830</p>		   </div>
		</div>
	</section>
     <div th:replace="base/base::.footer"></div>	
	
	<div th:replace="base/base::#button"></div>	
	
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:rgba(0,0,0,0.3);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="https://blog.yzmcms.com/common/static/images/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>	
  </body>
</html>