<!DOCTYPE HTML>
<html>
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>娱乐_袁志蒙个人博客 - YzmCMS博客</title>
	<meta name="keywords" content="YzmCMS官方博客,个人博客,袁志蒙,记录生活,个人娱乐,yzmcms博客,博客成长" />
	<meta name="description" content="YzmCMS官方博客，袁志蒙的个人博客，学习并分享PHP、Linux、MySQL和前端技术等WEB知识，记录生活的点点滴滴，是一个互联网从业者值得收藏的网站。" />
    <link rel='stylesheet' id='open_social_css-css' href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/style.css?v=2020" media="all">
    <link href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css" rel="stylesheet" media="screen">

  </head>
  
  <body class="home blog">
    <div class="placeholder"></div>	
<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
		$(".container").css({
		  "margin-top": "93px"
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>	
<header class="header" style="height: 52px;">
  <div class="navbar">
	<h1 class="logo">
	  <a href="https://blog.yzmcms.com/" title="袁志蒙个人博客 - YzmCMS博客" alt="袁志蒙个人博客 - YzmCMS博客">袁志蒙个人博客 - YzmCMS博客</a></h1>
	<ul class="nav">
	  <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home"><a href="https://blog.yzmcms.com/">首页</a></li>
					    <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children">
		<a href="https://blog.yzmcms.com/qianduan/">前端</a><ul class="sub-menu">
			<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
			 
											<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/htm/">html</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/css/">css</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/js/">js</a></li>
					
						<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
		</ul></li>
				    <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children">
		<a href="https://blog.yzmcms.com/chengxu/">程序</a><ul class="sub-menu">
			<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
			 
											<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/php/">php</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/mysql/">mysql</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/server/">server</a></li>
					
						<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
		</ul></li>
				    <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children">
		<a href="https://blog.yzmcms.com/shenghuo/">生活</a><ul class="sub-menu">
			<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
						<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
		</ul></li>
				    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children">
		<a href="https://blog.yzmcms.com/yule/">娱乐</a><ul class="sub-menu">
			<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
						<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
		</ul></li>
				    <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children">
		<a href="https://blog.yzmcms.com/guanyu/">关于</a><ul class="sub-menu">
			<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
			 
											<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/guestbook/index/init.html">留言联系</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://blog.yzmcms.com/guanyuzuozhe/">关于作者</a></li>
								<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://bbs.yzmcms.com">官方论坛</a></li>
					
						<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
		</ul></li>
		
	</ul>
	<div class="menu pull-right">
	  <form name="formsearch" action="https://blog.yzmcms.com/search/index/init.html" method="get">
		<input class="search-input" name="q" id="search-keyword" type="text" required="required" placeholder=" 输入你要找的内容" />
		<button type="submit" class="searchbtn" title="搜一下！">
			<!-- <input type="hidden" name="modelid" value="1" id="modelid" /> -->
		  	<i class="fa"></i>
		</button>
	  </form>
	</div>
	
	<div id="mobile_nav">
		<div class="nav_box"><span class="navicon"></span></div>
		<ul class="nav_ul">
			<li><a href="https://blog.yzmcms.com/">首页</a></li>
								<li><a href="https://blog.yzmcms.com/qianduan/">前端</a></li>
								<li><a href="https://blog.yzmcms.com/chengxu/">程序</a></li>
								<li><a href="https://blog.yzmcms.com/shenghuo/">生活</a></li>
								<li><a href="https://blog.yzmcms.com/yule/">娱乐</a></li>
								<li><a href="https://blog.yzmcms.com/guanyu/">关于</a></li>
				
		</ul>
	</div>	
</header>    <section class="container">
    <div class="content-wrap">
          <header class="archive-header">
            <h1>娱乐</h1>
          </header>	  
        <!--jobs-->
        <div class="content jobs-loop">
          <!--loop-->
          <div class="loop clearfix">
            <dl class="clearfix">
									<dd>
                <a href="https://blog.yzmcms.com/yule/103.html" title="2017年工资5000元左右的，生活怎么过？" target="_blank">
                  <img src="/uploads/thumbnail/20170525104350321.jpg" alt="2017年工资5000元左右的，生活怎么过？">
                  <span>2017年工资5000元左右的，生活怎么过？</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/77.html" title="为API生，为框架死" target="_blank">
                  <img src="/uploads/20170207/14864355998212.gif" alt="为API生，为框架死">
                  <span>为API生，为框架死</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/52.html" title="设计欣赏 - 摄影艺术" target="_blank">
                  <img src="/uploads/thumbnail/20160829095035664.jpg" alt="设计欣赏 - 摄影艺术">
                  <span>设计欣赏 - 摄影艺术</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/35.html" title="关于程序员那点事" target="_blank">
                  <img src="/uploads/thumbnail/20160801113138599.jpg" alt="关于程序员那点事">
                  <span>关于程序员那点事</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/34.html" title="看完妃子的照片，才懂皇上原来也蛮辛苦的..." target="_blank">
                  <img src="/uploads/thumbnail/20160729115605345.jpg" alt="看完妃子的照片，才懂皇上原来也蛮辛苦的...">
                  <span>看完妃子的照片，才懂皇上原来也蛮辛苦的...</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/31.html" title="又一波P神们的新作出炉了" target="_blank">
                  <img src="/uploads/thumbnail/20160727120302139.jpg" alt="又一波P神们的新作出炉了">
                  <span>又一波P神们的新作出炉了</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/28.html" title="一分钟带你了解程序员的苦逼生活" target="_blank">
                  <img src="/uploads/thumbnail/20160724232958679.jpg" alt="一分钟带你了解程序员的苦逼生活">
                  <span>一分钟带你了解程序员的苦逼生活</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/13.html" title="超级唯美的微型迷你车摄影" target="_blank">
                  <img src="/uploads/thumbnail/20160707151126851.jpg" alt="超级唯美的微型迷你车摄影">
                  <span>超级唯美的微型迷你车摄影</span></a>
              </dd>			
						<dd>
                <a href="https://blog.yzmcms.com/yule/3.html" title="美图欣赏" target="_blank">
                  <img src="/uploads/thumbnail/20160705171036475.jpg" alt="美图欣赏">
                  <span>美图欣赏</span></a>
              </dd>			
				
            </dl>
          </div>
          <!--page-->
          <div class="pagenavi clearfix">
            <div class="pages">
              <span class="pageinfo">共<strong>1</strong>页<strong>9</strong>条记录</span><a href="https://blog.yzmcms.com/yule/list_1.html" class="homepage">首页</a><a href="https://blog.yzmcms.com/yule/list_1.html" class="nopage">上页</a><a href="https://blog.yzmcms.com/yule/list_1.html" class="listpage curpage">1</a><a href="https://blog.yzmcms.com/yule/list_1.html" class="nopage">下页</a><a href="https://blog.yzmcms.com/yule/list_1.html" class="endpage">尾页</a>            </div>
          </div>
        </div>
	</div>
      <aside class="sidebar">
        <div class="widget">
		  <h3 class="widget_tit">热门标签</h3>
          <div class="tag_list">
            <ul>
												   <li><a href="https://blog.yzmcms.com/search/index/tag/id/13.html" target="_blank">服务器</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/12.html" target="_blank">摄影</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/11.html" target="_blank">欣赏</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/10.html" target="_blank">html</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/9.html" target="_blank">js</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/8.html" target="_blank">css</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/7.html" target="_blank">搞笑</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/6.html" target="_blank">娱乐</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/5.html" target="_blank">MySQL</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/4.html" target="_blank">PHP</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/3.html" target="_blank">YzmCMS</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/2.html" target="_blank">生活</a></li>	
								   <li><a href="https://blog.yzmcms.com/search/index/tag/id/1.html" target="_blank">博客</a></li>	
						 
			</ul>
          </div>
        </div>		  
        <div class="widget d_postlist">
          <h3 class="widget_tit">频道点击排行</h3>
          <ul>
						  	
			   <li><a href="https://blog.yzmcms.com/yule/77.html">
                <span class="thumbnail">
                  <img src="/uploads/20170207/14864355998212.gif" alt="为API生，为框架死" title="为API生，为框架死"/></span>
                <span class="text">为API生，为框架死</span>
                <span class="muted">2017-02-07</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">2297次阅读</span>
                </span>
              </a></li>
			  	
			   <li><a href="https://blog.yzmcms.com/yule/35.html">
                <span class="thumbnail">
                  <img src="/uploads/thumbnail/20160801113138599.jpg" alt="关于程序员那点事" title="关于程序员那点事"/></span>
                <span class="text">关于程序员那点事</span>
                <span class="muted">2016-07-31</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">1211次阅读</span>
                </span>
              </a></li>
			  	
			   <li><a href="https://blog.yzmcms.com/yule/28.html">
                <span class="thumbnail">
                  <img src="/uploads/thumbnail/20160724232958679.jpg" alt="一分钟带你了解程序员的苦逼生活" title="一分钟带你了解程序员的苦逼生活"/></span>
                <span class="text">一分钟带你了解程序员的苦逼生活</span>
                <span class="muted">2016-07-24</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">1123次阅读</span>
                </span>
              </a></li>
			  	
			   <li><a href="https://blog.yzmcms.com/yule/34.html">
                <span class="thumbnail">
                  <img src="/uploads/thumbnail/20160729115605345.jpg" alt="看完妃子的照片，才懂皇上原来也蛮辛苦的..." title="看完妃子的照片，才懂皇上原来也蛮辛苦的..."/></span>
                <span class="text">看完妃子的照片，才懂皇上原来也蛮辛苦的...</span>
                <span class="muted">2016-07-29</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">1091次阅读</span>
                </span>
              </a></li>
			  	
			   <li><a href="https://blog.yzmcms.com/yule/3.html">
                <span class="thumbnail">
                  <img src="/uploads/thumbnail/20160705171036475.jpg" alt="美图欣赏" title="美图欣赏"/></span>
                <span class="text">美图欣赏</span>
                <span class="muted">2016-07-05</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">1056次阅读</span>
                </span>
              </a></li>
			  	
			   <li><a href="https://blog.yzmcms.com/yule/31.html">
                <span class="thumbnail">
                  <img src="/uploads/thumbnail/20160727120302139.jpg" alt="又一波P神们的新作出炉了" title="又一波P神们的新作出炉了"/></span>
                <span class="text">又一波P神们的新作出炉了</span>
                <span class="muted">2016-07-27</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">933次阅读</span>
                </span>
              </a></li>
			            </ul>
        </div>    
      </aside>﻿	
	﻿</section>
    <footer class="footer">
      <div class="footer-inner">
        <div style="padding:0 20px;overflow:hidden;">
          <div class="copyright pull-left">
            <a href="https://blog.yzmcms.com/" target="_blank">Powered By YzmCMS内容管理系统 © 2014-2020 袁志蒙工作室</a> | 京ICP备16034624号</div>
          <div class="trackcode pull-right"><script src="https://s4.cnzz.com/z_stat.php?id=1259844929&web_id=1259844929" language="JavaScript"></script></div>
        </div>
      </div>
    </footer>
	<div id="button">
	<a href="javascript:;" rel="nofollow" class="totop" title="返回顶部"></a>
	<a href="https://www.yzmcms.com/" target="_blank" class="guanwang" title="返回官网"></a>
	<a href="https://blog.yzmcms.com/guestbook/index/init.html"  target="_blank" class="lianxi" title="留言联系"></a>
	</div>
	
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:rgba(0,0,0,0.3);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="https://blog.yzmcms.com/common/static/images/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>	
  </body>
</html>