<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>前端_袁志蒙个人博客 - YzmCMS博客</title>
<meta name="keywords" content="个人博客模板,前端技术分享,前端技术网站,web前端技术,模板分享" />
<meta name="description"
	content="YzmCMS官方博客，袁志蒙的个人博客，学习并分享PHP、Linux、MySQL和前端技术等WEB知识，记录生活的点点滴滴，是一个互联网从业者值得收藏的网站。" />
<link rel='stylesheet' id='open_social_css-css'
	href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css'
	media='all' />
<link rel="stylesheet"
	href="https://blog.yzmcms.com/common/static/css/style.css?v=2020"
	media="all">
<link
	href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css"
	rel="stylesheet" media="screen">
</head>

<body class="home blog">
	<div class="placeholder"></div>
	<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
	<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
	<script>
		window._deel = {
			maillist : '',
			maillistCode : '',
			commenton : 0,
			roll : [ 0, 0 ]
		}
	</script>
	<script type="text/javascript">
		$(function() {
			$(window).scroll(function() {
				$offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
				if ($(window).scrollTop() > $offset.top) {
					$('.header').css({
						'position' : 'fixed',
						'top' : '0px',
						'left' : $offset.left + 'px',
						'z-index' : '999'
					});
					$(".container").css({
						"margin-top" : "93px"
					});
				} else {
					$('.header').removeAttr('style');
					$('.container').removeAttr('style');
				}
			});
		})
	</script>
	<div th:replace="base/base::.header"></div>
	<section class="container">
		<div class="content-wrap">
			<div class="content">
				<header class="archive-header">
					<h1 th:text="${type}">维护</h1>
				</header>
				<article th:each="artcle : ${artcleList}" class="excerpt">
					<div class="focus">
						<a th:href="'/detail/' + ${artcle.artid}" class="thumbnail"
							target="_blank"> <img
							th:src="@{'images/article/'+${artcle.imgs}}"
							th:alt="${artcle.title}" th:title="${artcle.title}" /></a>
					</div>
					<header>
						<h2>
							<a th:text="${artcle.title}"
								th:href="'/detail/' + ${artcle.artid}" target="_blank">维护</a>
						</h2>
					</header>
					<p class="note" th:text="${artcle.content}">css3中常见的单位：1.
						px：绝对单位，页面按精确像素展示2.
						em：相对单位，基准点为父节点字体的大小，如果自身定义了font-size按自身来计算（浏览器默认字体是16px），整个页面内1em不是一个固定的值...</p>
					<p>
						<span class="muted"> <i class="icon-user icon12"></i><b
							th:text="${artcle.author}">匿名</b></span> <span class="muted"> <i
							class="ico icon-time icon12"></i><b th:text="${#dates.format(artcle.arttime, 'yyyy-MM-dd')}">1970-01-01</b></span>
						<span class="muted"> <i class="ico icon-eye-open icon12"></i><b
							th:text="${artcle.readcnt}">0</b>次浏览
						</span>
					</p>
				</article>

				<div class="pagenavi clearfix">
					<div class="pages">
						<span class="pageinfo">共<strong th:text="${allPage}">0</strong>页<strong
							th:text="${artcleSize}">0</strong>条记录
						</span>
						
						<a th:if="${time}==null" th:href="${type} + '?page=1'" class="homepage">首页</a>
						<a th:if="${time}!=null" th:href="${type} + '?page=1&time=' + ${time} " class="homepage">首页</a>
						
						<a th:if="${time}==null" th:href="${type} + '?page='+${prevPage}" class="nopage">上页</a>
						<a th:if="${time}!=null" th:href="${type} + '?page='+${prevPage} + '&time=' + ${time}" class="nopage">上页</a>
						
						<span th:each="pageNum : ${#numbers.sequence(1,allPage)}"> 
							<span th:if="${time}==null">
							<a th:if="${pageNum}!=${page}" th:href="${type}+'?page='+${pageNum}" class="listpage">
								<span th:text="${pageNum}"></span>
							</a> 
							<a th:if="${pageNum}==${page}" th:href="${type}+'?page='+${pageNum}" class="listpage curpage">
								<span th:text="${pageNum}"></span>
							</a>
							</span>
							<span th:if="${time}!=null">
							<a th:if="${pageNum}!=${page}" th:href="${type} + '?page=' + ${pageNum} + '&time=' + ${time}" class="listpage">
								<span th:text="${pageNum}"></span>
							</a> 
							<a th:if="${pageNum}==${page}" th:href="${type}+'?page='+${pageNum} + '&time=' + ${time}" class="listpage curpage">
								<span th:text="${pageNum}"></span>
							</a>
							</span>
						</span>
						<a th:if="${time}==null" th:href="${type}+'?page='+${nextPage}" class="nextpage">下页</a>
						<a th:if="${time}!=null" th:href="${type}+'?page='+${nextPage} + '&time=' + ${time}" class="nextpage">下页</a>
						
						<a th:if="${time}==null" th:href="${type}+'?page='+${allPage}" class="endpage">尾页</a>
						<a th:if="${time}!=null" th:href="${type}+'?page='+${allPage} + '&time=' + ${time}" class="endpage">尾页</a>
					</div>
				</div>
			</div>
		</div>
		<aside class="sidebar">
			<div class="widget d_postlist">
				<h3 class="widget_tit">频道点击排行</h3>
				<ul>

					<li th:each="hotart:${hotArtList}"><a th:href="'/detail/' + ${hotart.artid}"> <span
							class="thumbnail"> <img
								th:src="@{'images/article/'+${hotart.imgs}}" 
								th:title="${hotart.title}" /></span> <span th:text="${hotart.title}"
							class="text">维护</span> <span th:text="${#dates.format(hotart.arttime, 'yyyy-MM-dd')}" class="muted">1970-01-01</span>
							<span class="muted"> <span th:text="${hotart.readcnt}" class="ds-thread-count"
								data-replace="1">0</span>次阅读
						</span>
					</a></li>


				</ul>
			</div>
			<div class="widget d_textbanner">
				<h3 class="widget_tit">文章归档(近18个月)</h3>
				<ul style="margin-top: 15px">
					<li th:each="tal : ${timeArtList}">
						<a th:text="${tal.time}+'('+${tal.amount}+')'" th:href="${type}+'?time=' + ${tal.time}"
						   target="_blank">2020年03月(3)
						</a>
					</li>
				</ul>
			</div>
			<div class="widget widget_text">
				<div class="textwidget">
					<a href="https://www.yzmcms.com/" target="_blank" title="免费开源CMS"><img
						src="https://blog.yzmcms.com/common/static/images/ad2.jpg"></a>
				</div>
			</div>
		</aside>
		﻿
	</section>
	<div th:replace="base/base::.footer"></div>

	<div th:replace="base/base::#button"></div>


	<div id="share_wechat"
		style="display: none; position: fixed; left: 0%; top: 0%; z-index: 99; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3);">
		<div
			style="position: fixed; border-radius: 3px; left: 50%; top: 50%; z-index: 100; width: 260px; margin-left: -140px; margin-top: -200px; background: #fff; padding: 20px 25px 15px 25px; text-align: center">
			<span title="关闭" onclick="yzmcms_share_wechat()"
				style="width: 100%; font-size: 14px; color: #333; cursor: pointer; margin-bottom: 10px; float: right; text-align: right">关闭</span><img
				src="https://blog.yzmcms.com/common/static/images/share_code.png"
				width="220">
			<p style="text-align: center; font-size: 16px">用微信“扫一扫”</p>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(function() {
				$(window).scroll(function() {
					if ($(this).scrollTop() > 300) {
						$('.totop').fadeIn();
					} else {
						$('.totop').fadeOut();
					}
				});
				$('.totop').click(function() {
					$('body,html').animate({
						scrollTop : 0
					}, 300);
				})
			})

		});

		function yzmcms_share_wechat() {
			$("#share_wechat").toggle();
		}

		window.onload = function() {
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function() {
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>
</body>
</html>