<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>YzmCMS常见问题汇总_袁志蒙个人博客</title>
<meta name="keywords" content="yzmcms常见问题,yzmcms问题,yzmcms手册,yzmcms" />
<meta name="description"
	content="1、YzmCMS如何安装？浏览器访问http://www.yourname.com/index.html(yourname表示你的域名),按照安装提示说明进行程序安装即可。2、YzmCMS是收费还是免费的..." />
<link rel='stylesheet' id='open_social_css-css'
	href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css'
	media='all' />
<link rel="stylesheet"
	href="https://blog.yzmcms.com/common/static/css/style.css?v=2020"
	media="all">
<link
	href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css"
	rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css"
	href="https://blog.yzmcms.com/common/static/css/viewer.mini.css">
</head>

<body class="single single-post single-format-standard">
	<div class="placeholder"></div>
	<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
	<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
	<script>
		window._deel = {
			maillist : '',
			maillistCode : '',
			commenton : 0,
			roll : [ 0, 0 ]
		}
	</script>
	<script type="text/javascript">
		$(function() {
			$(window).scroll(function() {
				$offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
				if ($(window).scrollTop() > $offset.top) {
					$('.header').css({
						'position' : 'fixed',
						'top' : '0px',
						'left' : $offset.left + 'px',
						'z-index' : '999'
					});
					$(".container").css({
						"margin-top" : "93px"
					});
				} else {
					$('.header').removeAttr('style');
					$('.container').removeAttr('style');
				}
			});
		})
		
		
		function sendComment(){
			//thymeleaf框架内获取session
			var loginedUser = '[[${session.loginedUser}]]';
			if(loginedUser==""){
				alert("请先登录！");
				return false;
			}
			alert("正在发送数据！")
		}
	</script>
	<div th:replace="base/base::.header"></div>
	<section class="container">
		<div class="content-wrap">
			<div class="content">
				<header class="article-header">
					<h1 class="article-title" th:text="${article.title}">标题维护</h1>
					<div class="meta">
						<span class="muted"> <i class="icon-user icon12"></i><span
							th:text="${article.author}">作者</span>
						</span>
						<time class="muted">
							<i class="ico icon-time icon12"></i><span
								th:text="${#dates.format(article.arttime, 'yyyy-MM-dd')}">1970-01-01</span>
						</time>
						<span class="muted"> <i class="ico icon-eye-open icon12"></i><span
							th:text="${article.readcnt}">0</span>次浏览
						</span>
					</div>
				</header>
				<article class="article-content" id="yzmcms_viewer">
					<blockquote>
						<p>
							<strong>摘要：</strong><span th:text="${artAbstract}"></span>
						</p>
					</blockquote>
					<!-- 文章主体 -->
					<div th:utext="${article.content}"></div>
					<div class="related-post">
						<h6>随机内容</h6>
						<dl class="fix">
							<div id='tag741ea220ff5887504d724069fe0ee1bf'>

								<dd th:each="ra : ${randomArticle}">
									<a th:href="'/detail/' + ${ra.artid}"
										th:title="${ra.title}"> <img
										src="https://www.yzmcms.com/uploads/201802/01/180201081943386.jpg"
										alt="图片损坏"> <span th:text="${ra.title}">标题维护</span></a>
								</dd>

							</div>
						</dl>
					</div>
					<!--related:end-->
				</article>
				<nav class="article-nav">
					<span th:if="${prevArticle != null}" class="article-nav-prev">上一篇：<a
						th:text="${prevArticle.title}"
						th:href="'/detail/' + ${prevArticle.artid}">维护</a></span> <span
						th:if="${nextArticle != null}" class="article-nav-next">下一篇：<a
						th:text="${nextArticle.title}"
						th:href="'/detail/' + ${nextArticle.artid}">维护</a></span>
				</nav>
				<!--comment-->
				<div id="tabs1" class="tab">
					<div class="tab-menu clearfix">
						<a class="current" href="javascript:void(0)">文章评论</a>
					</div>
					<script type="text/javascript"
						src="https://blog.yzmcms.com/common/static/js/jquery.qqFace.js"></script>
					<script type="text/javascript"
						src="https://blog.yzmcms.com/common/static/js/yzm-front.js"></script>
					<div class="comment_box">
						<div class="comment">
							<div class="com_form">
								<form onsubmit="return sendComment()" >
									
									<textarea class="textarea" id="content" name="content"
										placeholder="让评论变得如此简单~"></textarea>
									<p>
										<input type="submit" class="sub_btn" name="dosubmit"
											value="提交" style="width: 100px">
											<span class="emotion">表情</span><span
											class="yzm"><img
											src="https://blog.yzmcms.com/api/index/code.html"
											onclick="this.src=this.src+'?'" style="cursor: pointer;"
											title="看不清？点击更换"><input type="text" name="code"
											required="required"></span>
									</p>
								</form>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="comment_list">
							<div class="comment_list_top">共<span th:text="${commentListSize}">0</span>条评论</div>
							<div class="comment_list_body">
								<ul>
									<li th:each="cl : ${commentList}">
										<!--<a class="user_pic" href="https://blog.yzmcms.com/member/myhome/init/userid/0.html" target="blank"><img src="https://blog.yzmcms.com/common/static/images/default.gif" height="35" width="35"></a>-->
										<p class="user_pic">
											<img
												src="https://blog.yzmcms.com/common/static/images/default.gif"
												height="35" width="35">
										</p>
										<div class="comm_right">
											<!--<a class="user_name" href="https://blog.yzmcms.com/member/myhome/init/userid/0.html" target="blank">YzmCMS博客网友</a>-->
											<p><span th:text="${cl.user.unamme}">网友评论</span>：</p>
											<!-- 直接回复文章 -->
											<p th:if="${cl.recomid == null}" th:text="${cl.comcontent}">评论内容</p>
											<!-- 回复评论者 -->
											<p th:if="${cl.recomid != null}">
												<a href="javascript:void(0);" class="user_name" rel="nofollow">
												<strong th:if="${cl.user.ustatus == 1}" style="color: #DE4C1C"><span th:text="${cl.user.unamme}">管理员</span>(管理员)</strong>
												<strong th:if="${cl.user.ustatus == 2}" th:text="${cl.user.unamme}" >粉丝</strong>
												</a>
												回复 
												<a href="javascript:void(0);" class="user_name" rel="nofollow">
												<strong th:if="${cl.reUser.ustatus == 1}" style="color: #DE4C1C"><span th:text="${cl.reUser.unamme}">管理员</span>(管理员)</strong>
												<strong th:if="${cl.reUser.ustatus == 2}" th:text="${cl.reUser.unamme}" >粉丝</strong>
												</a>
												<span th:text="${cl.comcontent}"></span>
											</p>
											
											<p>
												<span class="comm_time" th:text="${#dates.format(cl.comtime, 'yyyy-MM-dd hh:mm:ss')}">评论时间</span> <a
													href="javascript:toreply('510');" class="comm_a">回复</a>
											</p>
											<div id="rep_510" class="none">
												<form
													action="https://blog.yzmcms.com/comment/index/init.html"
													method="post" onsubmit="return check_rep(this)">
													<input type="hidden" name="modelid" value="1"> <input
														type="hidden" name="catid" value="9"> <input
														type="hidden" name="id" value="90"> <input
														type="hidden" name="title" value="YzmCMS常见问题汇总"> <input
														type="hidden" name="url"
														value="https://blog.yzmcms.com/php/90.html"> <input
														type="hidden" name="reply" value="510"> <input
														type="hidden" name="reply_to" value="YzmCMS博客网友">
													<textarea name="content" class="textarea textarea2"
														placeholder="让评论变得如此简单~"></textarea>
													<input type="submit" class="sub_btn static" name="dosubmit"
														value="提交" style="width: 100px"> <span
														class="yzm yzm2"><img src=""
														onclick="this.src='https://blog.yzmcms.com/api/index/code.html?v='+Math.random()"
														style="cursor: pointer;" alt="点击加载" title="看不清？点击更换"><input
														type="text" name="code" required="required"></span>
												</form>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--comment:end-->
			</div>
		</div>
		<aside class="sidebar">
			<div class="widget">
				<h3 class="widget_tit">热门标签</h3>
				<div class="tag_list">
					<ul>
						<li th:each="hl : ${hotLabel}"><a th:text="${hl.labelName}"
							th:href="${hl.url}" target="_blank">维护</a></li>
					</ul>
				</div>
			</div>
			<div class="widget d_postlist">
				<h3 class="widget_tit">推荐文章</h3>
				<ul>

					<li th:each="ra : ${recommendArticle}"><a
						th:href="'/detail/' + ${ra.artid}"> <span class="thumbnail">
								<img src="https://www.yzmcms.com/doc/images/1.png" alt="图片损坏"
								th:title="${ra.title}">
						</span> <span class="text" th:text="${ra.title}">维护</span> <span
							class="muted"
							th:text="${#dates.format(ra.arttime, 'yyyy-MM-dd')}">1970-01-01</span>
							<span class="muted"> <span class="ds-thread-count"
								data-replace="1"><span th:text="${ra.readcnt}">0</span>次阅读</span>
						</span>
					</a></li>


				</ul>
			</div>
			<div class="widget d_textbanner">
				<h3 class="widget_tit">文章归档(近18个月)</h3>
				<ul style="margin-top: 15px">

					<li th:each="tal : ${timeArtList}"><a
						th:text="${tal.time}+'('+${tal.amount}+')'"
						th:href="'/catalog/'+${timeArtListUrl}+'?time=' + ${tal.time}"
						target="_blank">2020年03月(3) </a></li>

				</ul>
			</div>
			<div class="widget widget_text">
				<div class="textwidget">
					<a href="https://www.yzmcms.com/" target="_blank" title="免费开源CMS"><img
						src="https://blog.yzmcms.com/common/static/images/ad.jpg"></a>
				</div>
			</div>
			<div class="widget d_textbanner">
				<h3>分享网站</h3>
				<div class="sidebar_share">
					<a rel="nofollow" class="share_weixin"
						onclick='yzmcms_share_wechat("http://blog.yzmcms.com");'
						title="分享到微信">微信</a> <a rel="nofollow"
						href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=http://blog.yzmcms.com&pics=&url=http://blog.yzmcms.com"
						class="share_qq" target="_blank" title="分享到QQ">Q Q</a> <a
						rel="nofollow"
						href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://blog.yzmcms.com&desc=分享一个不错的网站"
						class="share_qzone" target="_blank" title="分享到QQ空间">空间</a> <a
						rel="nofollow"
						href="http://service.weibo.com/share/share.php?url=http://blog.yzmcms.com&title=分享一个不错的网站&appkey=&searchPic=true"
						class="share_weibo" target="_blank" title="分享到微博">微博</a>
				</div>
			</div>
		</aside>
	</section>
	<script type="text/javascript"
		src="https://blog.yzmcms.com/common/static/js/viewer.mini.js"></script>
	<script>
		$('#yzmcms_viewer').viewer();
		$(function() {
			$('.emotion').qqFace({
				path : 'https://blog.yzmcms.com/common/static/images/face/'
			});
		});
	</script>
	<!--代码高亮 start-->
	<script type="text/javascript">
		var allpre = document.getElementsByTagName("pre");
		for (i = 0; i < allpre.length; i++) {
			var onepre = document.getElementsByTagName("pre")[i];
			var mycode = document.getElementsByTagName("pre")[i].innerHTML;
			onepre.innerHTML = '<code id="mycode">' + mycode + '</code>';
		}
	</script>
	<link rel="stylesheet" type="text/css"
		href="https://blog.yzmcms.com/common/static/highlight/styles/tomorrow-night-eighties.css">
	<script type="text/javascript"
		src="https://blog.yzmcms.com/common/static/highlight/highlight.pack.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>
	<!--代码高亮 end-->
	<div th:replace="base/base::.footer"></div>

	<div th:replace="base/base::#button"></div>


	<div id="share_wechat"
		style="display: none; position: fixed; left: 0%; top: 0%; z-index: 99; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3);">
		<div
			style="position: fixed; border-radius: 3px; left: 50%; top: 50%; z-index: 100; width: 260px; margin-left: -140px; margin-top: -200px; background: #fff; padding: 20px 25px 15px 25px; text-align: center">
			<span title="关闭" onclick="yzmcms_share_wechat()"
				style="width: 100%; font-size: 14px; color: #333; cursor: pointer; margin-bottom: 10px; float: right; text-align: right">关闭</span><img
				src="https://blog.yzmcms.com/common/static/images/share_code.png"
				width="220">
			<p style="text-align: center; font-size: 16px">用微信“扫一扫”</p>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(function() {
				$(window).scroll(function() {
					if ($(this).scrollTop() > 300) {
						$('.totop').fadeIn();
					} else {
						$('.totop').fadeOut();
					}
				});
				$('.totop').click(function() {
					$('body,html').animate({
						scrollTop : 0
					}, 300);
				})
			})

		});

		function yzmcms_share_wechat() {
			$("#share_wechat").toggle();
		}

		window.onload = function() {
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function() {
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>
</body>
</html>