<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
     <title>袁志蒙个人博客 - YzmCMS博客</title>
	<meta name="keywords" content="个人博客,袁志蒙个人博客,技术博客,个人原创博客,php博客,个人原创网站" />
	<meta name="description" content="YzmCMS官方博客，袁志蒙的个人博客，学习并分享PHP、Linux、MySQL和前端技术等WEB知识，记录生活的点点滴滴，是一个互联网从业者值得收藏的网站。" />
    <link rel='stylesheet' id='open_social_css-css' href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/style.css?v=2020" media="all">
	<link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/swiper.min.css" media="all">
	<link href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
	<!-- <script type="text/javascript" src="https://blog.yzmcms.com/common/static/js/base.loading.js"></script>	 -->
  </head>
  
  <body class="home blog">
    <div class="placeholder"></div>		
<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
		$(".container").css({
		  "margin-top": "93px"
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>
<div th:replace="base/base::.header"></div>	
<script type="text/javascript" src="https://blog.yzmcms.com/common/static/js/swiper.min.js"></script>	
    <section class="container">
      <div class="banner banner-navbar">
			<div class="swiper-container">
				<div class="swiper-wrapper">
											
					<div class="swiper-slide"><a href="https://www.yzmcms.com" target="_blank"><img src="/uploads/202001/11/200111075456968.jpg" alt="YzmCMS轻松建站，更自由"></a></div>
						
					<div class="swiper-slide"><a href="https://blog.yzmcms.com/shenghuo/86.html" target="_blank"><img src="/uploads/202001/11/200111075535707.jpg" alt="为什么要开发自己的CMS?"></a></div>
						
					<div class="swiper-slide"><a href="https://www.yzmcms.com" target="_blank"><img src="/uploads/202001/11/200111075614137.jpg" alt="YzmCMS开源CMS"></a></div>
									</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
      </div>
    <script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			paginationClickable: true,
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: 5000,
			autoplayDisableOnInteraction: false,
			loop: true
		});
    </script>
      <div class="content-wrap">
        <div class="content">
          <div class="sticky">
            <h2 class="title">特别推荐</h2>
            <ul>
				   <li class="item" th:each="ma : ${mostArticle}">
				   <a th:href="'/detail/' + ${ma.artid}" target="_blank">
                  <img src="https://www.yzmcms.com/doc/images/1.png" alt="YzmCMS v5.5正式版发布" title="YzmCMS v5.5正式版发布"/>
                  <h3 th:text="${ma.title}">标题</h3>
                  <p  class="muted">产品说明：YzmCMS是一款轻量级开源内容管理系统，它采用OOP（面向对象）方式自主开...</p></a></li>
				  
			</ul>
          </div>
          <h2 class="title">最新发布</h2>
		  		
		  		
		  		   
			<article th:each="a : ${alist}" class="excerpt">
            <div class="focus">
              <a th:href="'/detail/' + ${a.artid}" class="thumbnail" target="_blank">
                <img src="https://blog.yzmcms.com/uploads/thumbnail/20160705180250573.jpg" alt="PHP实现RSA或RSA2算法的签名和验签" title="PHP实现RSA或RSA2算法的签名和验签"/></a>
            </div>
            <header>
              <h2>
                <a th:text="${a.title}" th:href="'/detail/' + ${a.artid}" title="PHP实现RSA或RSA2算法的签名和验签" target="_blank">PHP实现RSA或RSA2算法的签名和验签</a></h2>
            </header>
            <div th:utext="${a.content}" th:id="'p'+${a.artid}" class="note">写了一个用PHP生成PSA和RSA2算法签名和验签的工具类，在支付等接口方面通常会用到，下面是代码：class RSA2{
    /**
     * RSA2签名
    ...</div>
    <script type="text/javascript">
    	var artid = 'p[[ ${a.artid} ]]';
    	var text = $("#" + artid).text();
    	text = text.substr(0,100);
    	$("#" + id).html(text);
    </script>
            <p>
              <span class="muted">
                <i class="icon-user icon12"></i> 
                	<span th:text="${a.author}">作者</span>></span>
              <time class="muted">
                <i class="ico icon-time icon12"></i> 
                <span th:text="${#dates.format(a.arttime, 'yyyy-MM-dd')}">时间</span>
				<time>
              <span class="muted">
                <i class="ico icon-eye-open icon12"></i> 
                <span th:text="${a.readcnt}">浏览</span></span>
            </p>
          </article>		  
		
		 		  
        </div>
      </div>
     
      <aside class="sidebar">
        <div class="widget">
		  <h3 class="widget_tit">热门标签</h3>
          <div class="tag_list">
            <ul>
						<li th:each="hl : ${hotLabel}"><a th:text="${hl.labelName}"
							th:href="${hl.url}" target="_blank">标签</a></li>
						 
			</ul>
          </div>
        </div>	  
        <div class="widget d_postlist">
          <h3 class="widget_tit">推荐文章</h3>
          <ul>
		  		   
				  
				<li th:each="ra : ${recommendArticle}"><a th:href="'detail'+ ${ra.artid}">
                <span class="thumbnail">
                  <img src="https://blog.yzmcms.com/uploads/thumbnail/20160705180250573.jpg" alt="PHP实现RSA或RSA2算法的签名和验签" th:title="${ra.title}"/></span>
                <span class="text" th:text="${ra.title}">标题</span>
                <span class="muted" th:text="${#dates.format(ra.arttime, 'yyyy-MM-dd')}">2020-2020-03-18</span>
                <span class="muted">
                  <span class="ds-thread-count" data-replace="1">
                  <span th:text="${ra.readcnt}">0</span>次阅读</span>
                  </span>
                
               </a>
			   </li>				  
						  
				  	  
		   </ul>
        </div>
        <div class="widget">
		  <h3 class="widget_tit">最新评论</h3>
          <div class="com_list">
		   		   <ul>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/shenghuo/122.html" title="YzmCMS将继续100%开源">YzmCMS将继续100%开源</a></span>
					<span class="comment_comment">网友评论：希望作者考虑买一次授权  可以授权多个域名的这种方式</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/shenghuo/122.html" title="YzmCMS将继续100%开源">YzmCMS将继续100%开源</a></span>
					<span class="comment_comment">网友评论：其实像我，我一般也是用网上大神的cms（yzmcms暂时还没有用过，这几天听QQ群里有人推荐，所以过来先了解一下），但是我有时候接个仿站业务才500块800块，要是保留您的版权客户又不让，其实我也知道这样不好，但是为了生活也是没办法，但是我也不会在后台改成是我的版权，如果客户要求的话，我会去掉版权信息
要是说购买授权的话，我一个业务一整套做下来也就几百块，（仿个站我也要花个3天5天做好模板，还要给客户七改改八改改，整个业务下来平均时间一般在15天左右）我说这话的意思不是不想买版权，而是想说希望您能考虑一下，比如说企业购买版权和个人用户购买分开收费，或者说买一次版权限制授权多少个域名不要每一个域名就要买一次授权，虽然可能一个域名的授权费用比较便宜 但是像我如果接个站  整个费用才几百块，我也是真的买不起的感觉，如果觉得我说的不好 您别审核我留言吧，我也不会到处乱说，我这点良心还是有的</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/shenghuo/190.html" title="最近的烦心事有点多">最近的烦心事有点多</a></span>
					<span class="comment_comment">网友评论：支持作者  支持开源  建议作者可以搞一个授权的大包 </span>
				</li>
				
				<li>
					<span class="comment_article"><a href="/php/198.html" title="PHP实现RSA或RSA2算法的签名和验签">PHP实现RSA或RSA2算法的签名和验签</a></span>
					<span class="comment_comment">网友评论：多端</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="/css/196.html" title="css3中常见的单位及总结">css3中常见的单位及总结</a></span>
					<span class="comment_comment">网友评论：有收获！</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="/shenghuo/197.html" title="盗版YzmCMS系统，从未见过这么贱的人！">盗版YzmCMS系统，从未见过这么贱的人！</a></span>
					<span class="comment_comment">网友评论：这种人就该得肺炎<img src="https://blog.yzmcms.com/common/static/images/face/28.gif"/></span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/php/192.html" title="YzmCMS v5.5正式版发布">YzmCMS v5.5正式版发布</a></span>
					<span class="comment_comment">网友评论：大神，能否把模板调用数据的标签改成像织梦那样子呢</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/shenghuo/190.html" title="最近的烦心事有点多">最近的烦心事有点多</a></span>
					<span class="comment_comment">网友评论：支持作者很好用</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/php/189.html" title="YzmCMS v5.4正式版发布">YzmCMS v5.4正式版发布</a></span>
					<span class="comment_comment">网友评论：想问问博主，请问博主选服务器是选什么类型的，带宽多少，cpu，多少核</span>
				</li>
				
				<li>
					<span class="comment_article"><a href="https://blog.yzmcms.com/html/php/96.html" title="json_encode不转义中文汉字的方法">json_encode不转义中文汉字的方法</a></span>
					<span class="comment_comment">网友评论：感谢，可以正常显示中文了。</span>
				</li>
			 
			</ul>
          </div>
        </div>	
		<div class="widget d_textbanner">
			<a class="style03" target="_blank" href="https://www.yzmcms.com/">
			<strong>赞助开发</strong>
			<h2>支持一下作者</h2>
			<p>
			请留下赞助人姓名和联系人方式，如需帮助，我会优先解决您的问题！
			<br>
			您的支持是我们最大的动力！
			<br>
			<img src="https://www.yzmcms.com/common/static/images/zfb.png">
			</p>
			</a>
		</div>	
		<div class="widget d_textbanner">
			<h3>分享网站</h3>
			<div class="sidebar_share">
			<a rel="nofollow" class="share_weixin" onclick='yzmcms_share_wechat("https://blog.yzmcms.com/");' title="分享到微信">微信</a>
			<a rel="nofollow" href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=https://blog.yzmcms.com/&pics=&url=https://blog.yzmcms.com/" class="share_qq" target="_blank" title="分享到QQ">Q Q</a>
			<a rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://blog.yzmcms.com/&desc=分享一个不错的网站" class="share_qzone" target="_blank" title="分享到QQ空间">空间</a>
			<a rel="nofollow" href="http://service.weibo.com/share/share.php?url=https://blog.yzmcms.com/&title=分享一个不错的网站&appkey=&searchPic=true" class="share_weibo" target="_blank" title="分享到微博">微博</a>
			</div>
		</div>						
      </aside>
    </section>

    <div class="IndexLinkListWrap">
      <div class="moketitle" style="font-size: 15px;">友情链接</div>
      <ul class="friendlyLink">
      					<li><a href="https://www.yzmcms.com/" target="_blank" title="YzmCMS官方网站">YzmCMS官方网站</a></li>
				<li><a href="https://bbs.yzmcms.com/" target="_blank" title="YzmCMS官方论坛">YzmCMS官方论坛</a></li>
				<li><a href="https://www.duoguyu.com/" target="_blank" title="多骨鱼">多骨鱼</a></li>
				<li><a href="https://www.yangqq.com" target="_blank" title="杨青博客">杨青博客</a></li>
				<li><a href="https://www.yezismile.com" target="_blank" title="叶子博客">叶子博客</a></li>
				<li><a href="https://masuit.com" target="_blank" title="懒得勤快">懒得勤快</a></li>
				<li><a href="https://lovefc.cn/" target="_blank" title="封尘博客">封尘博客</a></li>
				<li><a href="http://www.shuchengxian.com/" target="_blank" title="高蒙博客">高蒙博客</a></li>
				<li><a href="https://www.fx99.cn/" target="_blank" title="飞信网">飞信网</a></li>
				<li><a href="https://www.hackersb.cn/" target="_blank" title="王松_Striker">王松_Striker</a></li>
				<li><a href="https://www.weiyiqi.net/" target="_blank" title="魏义齐博客">魏义齐博客</a></li>
				<li><a href="https://www.jiangmiyun.com/" target="_blank" title="江米智云">江米智云</a></li>
				<li><a href="https://www.nnmutong.com/" target="_blank" title="牧童个人博客">牧童个人博客</a></li>
					
       </ul>
    </div>
    <div th:replace="base/base::.footer"></div>	
	
	<div th:replace="base/base::#button"></div>	
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:rgba(0,0,0,0.3);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="https://blog.yzmcms.com/common/static/images/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>	
  </body>
</html>