<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>留言反馈_袁志蒙个人博客 - YzmCMS博客</title>
	<meta name="keywords" content="个人博客,袁志蒙个人博客,技术博客,个人原创博客,php博客,个人原创网站" />
	<meta name="description" content="YzmCMS官方博客，袁志蒙的个人博客，学习并分享PHP、Linux、MySQL和前端技术等WEB知识，记录生活的点点滴滴，是一个互联网从业者值得收藏的网站。" />
    <link rel='stylesheet' id='open_social_css-css' href='https://blog.yzmcms.com/common/static/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://blog.yzmcms.com/common/static/css/style.css?v=2020" media="all">
    <link href="https://blog.yzmcms.com/common/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
  </head>
<body>
<!--[if lt IE 9]>
  <script src="https://blog.yzmcms.com/common/static/js/html5.js"></script>
<![endif]-->
<script src="https://blog.yzmcms.com/common/static/js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
		$(".container").css({
		  "margin-top": "93px"
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>	
<header class="header" style="height: 52px;">
  <div th:replace="base/base::.header"></div>
</header>
<script type="text/javascript">
	function init(){
	    var formData = new FormData(guest);
	    
	    $.ajax({
	        url:'init.html', /*接口域名地址*/
	        type:'post',
	        data: formData,
	        contentType: false,
	        processData: false,
	        success:function(res){
	        	
	            if(res.resultCode == 0){
	                alert('留言成功！');
	            }else{
	                alert('留言失败！');
	            } 
	        }
	    });
	}

</script>


<script type="text/javascript" src="https://blog.yzmcms.com/common/static/plugin/layer/layer.js"></script>
<section class="container">
		<div class="page_left">
		<ul>
												<li>
				<a href="init.html"  class="cur" >留言联系</a>
			</li>		
						<li>
				<a href="aboutauthor.html"  >关于作者</a>
			</li>		
						<li>
				<a href="https://bbs.yzmcms.com"   target="_blank" >官方论坛</a>
			</li>		
			       </ul>
		</div>
		<div class="page_right">
		   <h1 class="page_title">留言联系</h1>   
		   <div class="page_content">
				<form id="guest" action="" method="post" name="guest" onsubmit="return check()">
					<table class='message_table'>
					
					<tr>
					<td>联系人</td>
					<td><input name='uid' type='text' class='input_text' /><span class='xing'>*</span></td>
					</tr>
					
					<tr>
							
					<tr>
					<td>留言内容</td>
					<td><textarea name='comcontent' cols='50' rows='6' class='textarea_text'></textarea><span class='xing'>*</span></td>
					</tr>
					<tr>
							
					<tr><td></td>
					<td><input type="button" onclick="init()" name="button" value="提交留言" class="button" style="width:100%;max-width:320px"></td>
					</tr>
					</table>
				</form>
				<div style="margin-top:30px">
				   <p>CocoBlog留言板</p>
				   <p>您的每一条留言，管理员将会认真查看。</p>
				   
				
				</div>
		   </div>
		</div> 
 </section>
 <script type="text/javascript">
 	function check(){
 		if(document.guest.title.value==""){
 			layer.msg("留言主题不能为空！", {icon: 2});
 			return false;
 		}
 		if(document.guest.name.value==""){
 			layer.msg("联系人不能为空！", {icon: 2});
 			return false;
 		}
 		if(document.guest.bookmsg.value==""){
 			layer.msg("留言内容不能为空！", {icon: 2});
 			return false;
 		}
 		if(document.guest.code.value==""){
 			layer.msg("验证码不能为空！", {icon: 2});
 			return false;
 		}		
 		return true;
 	}
 </script>
     <div th:replace="base/base::.footer"></div>	
	
	<div th:replace="base/base::#button"></div>	
	
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:rgba(0,0,0,0.3);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="https://blog.yzmcms.com/common/static/images/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}

		console.log("没有来自内心的渴望，就不可能取得成功！\n我一直从未放弃过，\n成长就是不断探索的过程！");
	</script>	
  </body>
</html>