<!--
Author: xmoban.cn
Author URL: http://www.xmoban.cn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Internship Sign In & Sign Up Form a Responsive Widget Template :: xmoban.cn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- //web font -->
</head>
<body>
<div class="snow-container">
			  <div class="snow foreground"></div>
			  <div class="snow foreground layered"></div>
			  <div class="snow middleground"></div>
			  <div class="snow middleground layered"></div>
			  <div class="snow background"></div>
			  <div class="snow background layered"></div>
			</div>

<div class="top-buttons-agileinfo">
<a href="login.html"  class="active">登录</a><a href="signup.html">注册</a><a href="index.html">首页</a>
</div>
<h1>Internship Sign In & Sign Up Form</h1>
<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">Sign In</h2>
			<form id="logInForm" action="dologin" method="post">
				<!-- <div id="alertDiv" class="alert alert-warning alert-dismissable"
					style="display: none">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					警告！请不要提交。
				</div> -->
				<table>
				 <tr th:if="${msg}!=null">
              	<td th:text="${msg}" colspan="2" style="color:red" align="center"></td>
              </tr>
              	</table>
				<input id="unamme" type="text" name="unamme" placeholder="用户名" required="" /> 
				<input id="passsword" type="password" name="passsword" placeholder="密码" required="" /> 
				<a href="forget.html" class="forgot-w3layouts"><font style="color: red;">忘记密码</font></a>
				<div class="submit-w3l">
					<input type="submit" value="登录" onclick="signIn()">
				</div>
				<p class="p-bottom-w3ls">
					<a href="login.html">登录</a>if u do not have an account yet.
				</p>
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> © 2017 Internship Sign In & Sign Up Form . All rights reserved | Design by <a href="http://www.xmoban.cn/" target="_blank">xmoban.cn</a></p>
	</div>
	<!-- //copyright --> 
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- <script type="text/javascript">
			function signIn(){
				$.post('dologin',$('#logInForm').serialize(),function(result){
					if(result.resultCode==2){
						alert(result.message);
						
					}else if(result.resultCode==0){
						alert(result.message);
					}else{
						window.location.href = "index.html";
					}
				})
			}
	</script> -->
</body>
</html>